{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("News Articles") }}</h1>
		<p>{{ _("Site-, coin-, and banknote-related news!") }}</p>
	</hgroup>
</header>

<main>
	<p>{{
		_("On this page you can view all of our news articles.  These articles
		cover all topics we deem relevant such as new coin designs, coin release
		dates, etc.  You may also find news articles here relating to this site
		itself.")
	}}</p>

	<p>{{
		_("Due to logistical reasons, we cannot promise that all articles will
		be translated to your preferred language.  We will try our best though!")
	}}</p>

	<hr>

	<h2>{{ _("Articles") }}</h2>
	<figure>
		<table id="article-list">
			<tbody>
				{% for article in articles %}
				<tr>
					<td>
						<time datetime="{{ article.iso_8601 }}">{{ article.date }}</time>
					</td>
					<td>
						<a href="{{ article.iso_8601 }}">{{ _(article.headline) }}</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</figure>
</main>

{% endblock content %}
