{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
    <h1>{{ _("Andorran Euro Coin Designs") }}</h1>
    <p>{{ _("What even is a chamois?") }}</p>
	</hgroup>
</header>

<main>
	<h2>{{ _("1-, 2-, and 5 Euro Cent Coins") }}</h2>
	<div class="design-container">
		<img src="/static/designs/ad/001.png">
	</div>
	<p>
		{% trans %}
		These coins prominently feature a Pyrenean chamois in the foreground with a
		bearded vulture flying above.  Both animals are native to Andorra.
		{% endtrans %}
	</p>

	<h2>{{ _("10-, 20-, and 50 Euro Cent Coins") }}</h2>
	<div class="design-container">
		<img src="/static/designs/ad/050.png">
	</div>
	<p>
		{% trans %}
		These coins feature the Church of Santa Coloma d’Andorra, the oldest church
		in Andorra.  The church is dedicated to Columba of Sens, the patron saint of
		Andorra and dates back to the 8th century.
		{% endtrans %}
	</p>

	<h2>{{ _("1 Euro Coins") }}</h2>
	<div class="design-container">
		<img src="/static/designs/ad/100.png">
	</div>
	<p>
		{% trans %}
		This coin features the Casa de la Vall, the former headquarters of the
		General Council of Andorra.  It was built in 1580 as a manor and tower
		defense by the Busquets family.  In 1702, it was acquired by the Consell de
		la Terra.
		{% endtrans %}
	</p>

	<h2>{{ _("2 Euro Coins") }}</h2>
	<div class="design-container">
		<img src="/static/designs/ad/200.png">
	</div>
	<p>
		{% trans %}
		This coin features the Andorran coat of arms.  The coat of arms features the
		four different shields of the Bishop of Urgell, the Count of Foix,
		Catalonia, and the Viscounts of Béarn.  At the bottom is the motto ‘Virtus
		Unita Fortior’ which translates to ‘Virtue United is Stronger’.
		{% endtrans %}
	</p>
</main>

{% endblock %}
