[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-babel = "*"
watchdog = "*"
selectolax = "*"

[dev-packages]
isort = "*"
black-with-tabs = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
