<!DOCTYPE html>
<html lang="{{ lang }}" data-theme="{{ theme }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href='{{ url_for("static", filename="favicon.ico") }}'>
		<link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
		<title>{{ _("Euro Cash") }}</title>
		{% block head %}
		{% endblock head %}
	</head>
	<body>
		{% block content %}
		{% endblock content %}
		<footer>
			<p>
				<small>
					{% trans LINK = url_for("root.about", _anchor="contact") %}
					Found a mistake or have missing information?
					<a href="{{ LINK }}">Feel free to contact us!</a>
					{% endtrans %}
				</small>
			</p>
		</footer>
	</body>
</html>
