{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("The Euro Cash Compendium") }}</h1>
		<p>{{ _("United in <del>diversity</del> <ins>cash</ins>") }}</p>
	</hgroup>
</header>

<main>
	<p>{{
		_("Welcome to the Euro Cash Compendium.  This sites aims to be a
		resource for you to discover everything there is to know about the coins
		and banknotes of a currency that spans 26 countries and 350 million
		people.  We also have dedicated sections of the site for collectors.")
	}}</p>

	<hr>

	{% if article %}
		<h2>{{ _("Recent News") }}</h2>

		<section>
			<article>
				<header>
					<h2>{{ _(article.headline) }}</h2>
					<time datetime="{{ article.iso_8601 }}">
						{{ article.date }}
					</time>
				</header>
				<main>
					{{ _(article.sample) }}
				</main>
			</article>
		</section>
	{% endif %}
</main>

{% endblock content %}
