{% extends "base.html" %}
{% block content %}

{% macro language_grid(lang_set) %}
	<form action="/set-language" method="POST">
		<div class="lang-grid">
			{% for locale in lang_set %}
			<button
				type="submit"
				name="{{ cname }}"
				value="{{ locale }}"
				{% if not locale.enabled %}disabled{% endif %}
			>
				<span data-code="{{ locale.iso_639_1.upper() }}">{{ locale.name }}</span>
			</button>
			{% endfor %}
		</div>
	</form>
{% endmacro %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("Select Your Language") }}</h1>
		<p>{{ _("Or your dialect, for the Americans") }}</p>
	</hgroup>
</header>

<main>
	<p>
		{{ _("Select your preferred language to use on the site.") }}
	</p>
	<p>
		If you are an American user, it’s suggested that you select American
		English instead of British English.  This will ensure that dates will be
		formatted with the month before the day.
	</p>

	<hr>

	<h2>{{ _("Eurozone Languages") }}</h2>
	{{ language_grid(EZ_LOCALES) }}

	<h2>{{ _("Other Languages") }}</h2>
	{{ language_grid(WORLD_LOCALES) }}
</main>

{% endblock content %}
