<nav>
	<menu>
		<li><a href='{{ url_for("root.index") }}'>{{ _("Home") }}</a></li>
		<li><a href="#">{{ _("News") }}</a></li>
		<li><a href="#">{{ _("Coin Hunting") }}</a></li>
		<li><a href='{{ url_for("coins.index") }}'>{{ _("Coins") }}</a></li>
		<li><a href="#">{{ _("Banknotes") }}</a></li>
		<li><a href="#">{{ _("Jargon") }}</a></li>
	</menu>

	<menu>
		<li><a href="https://discord.gg/DCaXfRcy9C" target="_blank">{{ _("Discord") }}</a></li>
		<li><a href='{{ url_for("root.about") }}'>{{ _("About") }}</a></li>
	</menu>
</nav>
