{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("Coin Storage") }}</h1>
		<p>{{ _("Stay away from PVC!") }}</p>
	</hgroup>
</header>

<main>
	<p>
		{% trans %}
		There are many different methods of storing your collecting, each with their
		own benefits and drawbacks.  This page will describe the most common methods
		collectors use to store their coins, as well as the pros and cons of each
		method.
		{% endtrans %}
	</p>

	<h2>{{ _("Coin Albums") }}</h2>
	<p>
		{% trans %}
		Coin albums are one of the most popular ways of storing coins.  In a coin
		album you will have multiple coin sheets.  These sheets are plastic pages
		with slots that you can put your coin in to keep them protected.  When
		searching for sheets for your album it is very important to ensure that they
		do not contain any PVC, which will damage your coins.  Some albums will come
		with sheets already included.
		{% endtrans %}
	</p>

	<p>
		{% trans %}
		Albums can be an affordable way to store your coins, but higher-end albums
		can be a bit expensive.  Also remember to <strong>always</strong> ensure
		that your albums do not contain any PVC!
		{% endtrans %}
	</p>

	<h2>{{ _("Coin Boxes") }}</h2>
	<p>
		{% trans %}
		Coin boxes are to many people the most æsthetic way to store your coins.  A
		coin box is comprised of various layers which can be stacked ontop of each
		other.  Each layer has various holes where you can insert your coins.
		Typically you are meant to store your coins in a layer encased in a coin
		capsule.
		{% endtrans %}
	</p>

	<p>
		{% trans %}
		Boxes are quite space-inefficient and are one of the most expensive ways to
		store your coins, but at the same time they offer a great visual appeal.
		{% endtrans %}
	</p>

	<h2>{{ _("Coin Capsules") }}</h2>
	<p>
		{% trans %}
		Coin capsules are plastic capsules you can put your coin in.  They offer
		good protection to your coins, while still allowing you to view all parts of
		your coin easily, including the edge engravings and -inscriptions.  Capsules
		are also far more durable than flips, and can be opened and closed
		repeatedly allowing for them to be reused.  This isn’t really possible with
		flips.
		{% endtrans %}
	</p>

	<p>
		{% trans %}
		Capsules can be a bit pricey, but are reusable and are very durable.  They
		also come in different sizes, so make sure you get the right size for your
		coins.
		{% endtrans %}
	</p>

	<h2>{{ _("Coin Flips") }}</h2>
	<p>
		{% trans %}
		Coin flips, also known as ‘2x2’ flips by some Americans are small cardboard
		flips with a plastic covered hole in the middle for viewing.  Most coin
		flips are stapled, meaning you put your coin in the flip and staple it shut.
		These kinds of flips are very cheap, and you can buy stacks of a few hundred
		for only a few euros.  If you don’t like the staples though, you can also
		buy adhesive-flips that glue themselves shut.  These flips are more
		expensive, but also look better than their stapled equivalents.
		{% endtrans %}
	</p>

	<p>
		{% trans %}
		Coin slips are also pretty space efficient, and can be easily stacked in
		boxes for compact storage.  Many collectors also like to write notes about
		their coins on the flips.  There also exist special sheets for coin albums
		that allow you to put in flipped coins, but this is more expensive and less
		space-efficient than simply using flips or an album without flips.
		{% endtrans %}
	</p>
</main>

{% endblock %}
