{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("Vending Machine Hunting") }}</h1>
		<p>{{ _("How to look strange in public") }}</p>
	</hgroup>
</header>

<main>
	<h2>{{ _("What is Vending Machine Hunting?") }}</h2>
	<p>
		{% trans %}
		‘Vending machine hunting’ is a strategy of collecting coins whereby you
		continuously insert coins into a vending machine and cancel the transaction
		by pressing the return button.  When returning your coins to you, you will
		often get different coins from the ones you put in, and you can repeat this
		process until you’ve searched through every coin in the machine.
		{% endtrans %}
	</p>

	<h2>{{ _("The Test Coins") }}</h2>
	<p>
		{% trans %}
		First, you want to make sure the vending machine you come across actually
		gives back change — sometimes they don’t!  Throw in a 10 cent coin and press
		the return button.  If it doesn’t give the coin back, you can move on to the
		next machine; there’s a high chance it won't return higher denominations
		either.  Next throw in a random 2 euro coin and press the return button.
		You should do this because vending machines may not return 2 euro coins, but
		rather 1 euro- or 50 cent coins instead.  It's better to find out
		immediately rather than throwing in all of your 2 euro coins!
		{% endtrans %}
	</p>

	<h2>{{ _("The Stopper") }}</h2>
	<p>
		{% trans %}
		We want to be able to know when we’ve gone through all the coins in the
		vending machine.  To do this, take out a coin and mark it with something
		(drawing on it with a Sharpie works well), then put it into the machine.
		Next time you get the same coin back, you know you’ve gone through
		everything.
		{% endtrans %}
	</p>

	<h2{{ _("Rejected Stoppers and Coins") }}></h2>
	<p>
		{% trans %}
		Sometimes you may throw a stopper in, but you hear a ‘clunk’ sound, as if
		the coin was dropped into a box (normally adding a coin should be silent
		after you throw it in).  This means the coin was not added to the stack
		properly, and so it will not be returned.  Pay attention to this noise,
		because you won’t be getting the stopper back!  Throw in another marked coin
		instead until the machine accepts the coin.
		{% endtrans %}
	</p>

	<h2>{{ _("(Non-)Merging Machines") }}</h2>
	<p>
		{{ _("We generally identify between two main types of vending machines.") }}
	</p>
	<dl>
		<dt>{{ _("Merging") }}</dt>
		<dd>
			{% trans
				fifty_cent=eur_format(0.50),
				one_euro=eur_format(1.00),
				two_euro=eur_format(2.00)
			%}
			The vending machine merges change together.  For example if you throw in
			5 {{ fifty_cent }} coins, the machine returns either 2 {{ one_euro }} and
			1 {{ fifty_cent }} coin or 1 {{ two_euro }} and 1 {{ fifty_cent }} coin.
			This usually means you can hunt 2 euro coins very quickly but other
			denominations only one at a time.  A good tip is to throw in an odd number
			of euros and 80 cents if you want to sort through all denominations.
			{% endtrans %}
		</dd>
		<dt>{{ _("Non-Merging") }}</dt>
		<dd>
			{% trans fifty_cent=eur_format(0.50) %}
			The vending machine does not merge change together. This means if you
			throw in 5 {{ fifty_cent }} coins it will return 5 {{ fifty_cent }} coins.
			This makes it very easy to hunt a large amount of a specific denomination.
			{% endtrans %}
		</dd>
	</dl>

	<h2{{ _("Limits") }}></h2>
	<p>
		{% trans %}
		There are some limits to vending machine hunts which you need to be aware
		of.
		{% endtrans %}
	</p>
	<dl>
		<dt>{{ _("Maximum Input Limit") }}</dt>
		<dd>
			{% trans four_eighty=eur_format(4.80) %}
			The machine has a maximum amount you can throw in, and will reject
			anything higher.  For example machines with a max limit of five euros will
			reject any additional coins if you throw in five euros.  You can try to go
			above the limit if you throw in, say, {{ four_eighty }} and then another
			one- or two euro coin; the machine will probably accept it.
			{% endtrans %}
		</dd>
		<dt>{{ _("Maximum Change Limit") }}</dt>
		<dd>
			{% trans %}
			Some machines will either give back large amounts of change in bills or
			will not give back large amounts of change (usually cigarette machines).
			Read the labels on all machines carefully since these limits are usually
			written there.
			{% endtrans %}
		</dd>
	</dl>

	<h2{{ _("Cigarette Machines") }}></h2>
	<p>
		{% trans four_ninty=eur_format(4.90) %}
		In some countries where cigarette machines are legal, you can hunt through
		them as well.  Unless you’re in Malta, you must verify your age on them by
		either sliding an ID card through a sensor or holding a debit card on an
		RFID scanner; you must do this for every cycle.  Sometimes you must also
		select something to purchase, throw in less money than the cost, and then
		cancel the purchase.  Note that most cigarette machines in Austria have a
		{{ four_ninty }} max change limit.
		{% endtrans %}
	</p>
	<p>
		{% trans %}
		For RFID scanner machines it helps to wear a glove and slide a debit card
		into the back of it so you can easily use both hands and don’t have to
		fumble with a card and coins.
		{% endtrans %}
	</p>
</main>

{% endblock %}
