{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
    <h1>{{ _("Euro Coin Designs") }}</h1>
    <p>{{ _("Too many to count!") }}</p>
	</hgroup>
</header>

<main>
	<p>{{
		_("Here you’ll be able to view all the coin designs for each country in the
		Eurozone.  This page doesn’t include minor varieties such as different
		mintmarks or errors; those are on the <a href=#>varieties</a> page.")
	}}</p>

	<hr>
	
	{% for country in countries %}
	<details>
    <summary>{{ country }}</summary>
	</details>
	{% endfor %}
</main>

{% endblock %}
