{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("Euro Coin Mintages") }}</h1>
		<p>{{ _("Can’t trust the Irish") }}</p>
	</hgroup>
</header>

<main>
	<p>
		{% trans %}
		Here you’ll be able to view all the known mintages for all coins. You’ll
		also be able to filter on country, denomination, etc.  If you have any
		mintage data that’s missing from our site, feel free to contact us.
		{% endtrans %}
	</p>

	<hr>

	<section>
		<form>
			<div class="grid">
				<label for="compact-country">
					{{ _("Country") }}
					<select id="compact-country" name="c">
						{% for c in countries %}
						<option
							value="{{ c }}"
							{% if c == country %}
							selected
							{% endif %}
						>
							{{ _(c.name) }}
						</option>
						{% endfor %}
					</select>
				</label>

				<fieldset>
					<label for="compact-ifc">
						<input
							type="checkbox"
							id="compact-ifc"
							name="ifc"
							{% if opts.ifc %}
							checked
							{% endif %}
						>
						{{ _(CoinType.IFC) }}
					</label>
					<label for="compact-nifc">
						<input
							type="checkbox"
							id="compact-nifc"
							name="nifc"
							{% if opts.nifc %}
							checked
							{% endif %}
						>
						{{ _(CoinType.NIFC) }}
					</label>
					<label for="compact-proof">
						<input
							type="checkbox"
							id="compact-proof"
							name="proof"
							{% if opts.proof %}
							checked
							{% endif %}
						>
						{{ _(CoinType.PROOF) }}
					</label>
				</fieldset>
			</div>

			<button type="submit">{{ _("Filter") }}</button>
		</form>

		<details>
			<summary>{{ _("Compact Mintages") }}</summary>

			<figure>
				<table class="mintage-table" role="grid">
					<thead>
						<th>{{ _("Year") }}</th>
						{% for d in denoms %}
						<th>{{ d }}</th>
						{% endfor %}
					</thead>
					<tbody>
						{% for row in rows %}
						<tr>
							<th scope="col">{{ row[0] }}</th>
							{% for col in row[1:] %}
							<td>{{ col }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</figure>
		</details>

		<details>
			<summary>{{ _("Detailed Mintages") }}</summary>
			{% for row in detailed %}
			<details>
				<summary>{{ row[0] }}</summary>
				<figure>
					<table class="mintage-table" role="grid">
						<thead>
							<th>{{ _("Type") }}</th>
							{% for d in denoms %}
							<th>{{ d }}</th>
							{% endfor %}
						</thead>
						<tbody>
							{% for k in row[1].keys() %}
							<tr>
								<th scope="col">{{ _(k) }}</th>
								{% for col in row[1:] %}
								<td>{{ col[k] }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</figure>
			</details>
			{% endfor %}
		</details>

		{% if country in ["nl"] %}
		<h2>{{ _("Additional Notes") }}</h2>
		<ul>
			{% if country == "nl" %}
			<li>
				{% trans %}
				Most coins from the years 2003–2013 are listed as NIFC coins while other
				popular sources such as Numista claim they were minted for circulation.
				For more information on why others are wrong, click here.
				{% endtrans %}
			</li>
			<li>
				{% trans num1 = num_format(217503), num2 = num_format(177003) %}
				In 2003 Numista calculated a total of {{ num1 }} coins issues for coin
				sets per denomination.  Our own calculations found only {{ num2 }}.
				Numista also forgot to include the many hundred thousand coins from the
				coin roll sets that were produced.
				{% endtrans %}
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</section>
</main>

{% endblock content %}
