{% extends "base.html" %}
{% block content %}

<header>
	{% include "nav.html" %}

	<hgroup>
		<h1>{{ _("Location Codes") }}</h1>
		<p>{{ _("Still not monetized by Monaco") }}</p>
	</hgroup>
</header>

<main>
	<p>
		{% trans %}
		Euro banknotes have two codes on them.  One code is the printer code, it
		tells you about where the note was printed.  The other code is the serial
		number.  In the 2002 series of banknotes the serial number tells you which
		country issued the banknote, but in the Europa series it tells you where the
		note was printed, just like the printer code.
		{% endtrans %}
	</p>

	<h2>{{ _("Printer Code") }}</h2>
	<p>
		{% trans %}
		The printer code (not to be confused with the serial number) is a small code
		printed on banknotes with information about where the banknote was printed,
		along with other information.  All printer codes take the form of ‘X000X0’,
		in other words a letter followed by 3 numbers, a letter, and a final number.
		{% endtrans %}
	</p>

	<p>
		{% trans %}
		The printer code can be a bit tricky to find.  The following dropdowns will
		show you where to find the printer code on each note.
		{% endtrans %}
	</p>

	<details>
		<summary>{{ _("2002 Series Printer Codes") }}</summary>
		<p>{{ _("All these images are taken from eurobilltracker.com.") }}</p>

		<details>
			<summary>{{ _("5 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-5e.jpg"
				alt='{{ _("Printer code on a 5 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("10 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-10e.jpg"
				alt='{{ _("Printer code on a 10 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("20 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-20e.jpg"
				alt='{{ _("Printer code on a 20 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("50 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-50e.jpg"
				alt='{{ _("Printer code on a 50 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("100 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-100e.jpg"
				alt='{{ _("Printer code on a 100 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("200 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-200e.jpg"
				alt='{{ _("Printer code on a 200 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("500 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-2002-500e.jpg"
				alt='{{ _("Printer code on a 500 euro bill") }}'
			>
		</details>
	</details>

	<details>
		<summary>{{ _("Europa Series Printer Codes") }}</summary>

		<details>
			<summary>{{ _("5 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-5e.jpg"
				alt='{{ _("Printer code on a 5 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("10 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-10e.jpg"
				alt='{{ _("Printer code on a 10 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("20 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-20e.jpg"
				alt='{{ _("Printer code on a 20 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("50 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-50e.jpg"
				alt='{{ _("Printer code on a 50 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("100 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-100e.jpg"
				alt='{{ _("Printer code on a 100 euro bill") }}'
			>
		</details>
		<details>
			<summary>{{ _("200 Euro") }}</summary>
			<img
				class="big"
				src="/static/img/pc-europa-200e.jpg"
				alt='{{ _("Printer code on a 200 euro bill") }}'
			>
		</details>
	</details>

	<p>
		{% trans %}
		The first letter in the printer code identifies the specific printer at
		which the banknote was printed.  The tables below will tell you which
		letters correspond to which printers.  The final letter and number form a
		pair (such as ‘A2’ or ‘D6’).  This pair acts as a set of coordinates telling
		you where on the sheet of paper the banknote was located.  During printing,
		banknotes will be printed multiple times on a large sheet of paper which is
		later cut into smaller individual banknotes.  A note with the pair ‘A1’ will
		have been at the upper-left most corner of the printing sheet, with ‘A2’ to
		it’s right and ‘B1’ below it.
		{% endtrans %}
	</p>

	<h2>{{ _("2002 Series") }}</h2>
	<p>
		{% trans %}
		In the 2002 series, the first letter of the serial number can be used to
		identify the country that issued the banknote.  The following table shows
		which countries map to which codes.
		{% endtrans %}
	</p>

	<table role="grid">
		<thead>
			<tr>
				<td>{{ _("Code") }}</td>
				<td>{{ _("Country") }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>D</td>
				<td>{{ _("Estonia") }}</td>
			</tr>
			<tr>
				<td>E</td>
				<td>{{ _("Slovakia") }}</td>
			</tr>
			<tr>
				<td>F</td>
				<td>{{ _("Malta") }}</td>
			</tr>
			<tr>
				<td>G</td>
				<td>{{ _("Cyprus") }}</td>
			</tr>
			<tr>
				<td>H</td>
				<td>{{ _("Slovenia") }}</td>
			</tr>
			<tr>
				<td>L</td>
				<td>{{ _("Finland") }}</td>
			</tr>
			<tr>
				<td>M</td>
				<td>{{ _("Portugal") }}</td>
			</tr>
			<tr>
				<td>N</td>
				<td>{{ _("Austria") }}</td>
			</tr>
			<tr>
				<td>P</td>
				<td>{{ _("Netherlands") }}</td>
			</tr>
			<tr>
				<td>S</td>
				<td>{{ _("Italy") }}</td>
			</tr>
			<tr>
				<td>T</td>
				<td>{{ _("Ireland") }}</td>
			</tr>
			<tr>
				<td>U</td>
				<td>{{ _("France") }}</td>
			</tr>
			<tr>
				<td>V</td>
				<td>{{ _("Spain") }}</td>
			</tr>
			<tr>
				<td>X</td>
				<td>{{ _("Germany") }}</td>
			</tr>
			<tr>
				<td>Y</td>
				<td>{{ _("Greece") }}</td>
			</tr>
			<tr>
				<td>Z</td>
				<td>{{ _("Belgium") }}</td>
			</tr>
		</tbody>
	</table>

	<p>
		{% trans %}
		The first letter of the printer code can also be used to identify the
		specific printer at which the banknote was printed.  The printer- and
		country codes do not need to line up; a banknote issued by a country will
		often be printed in another.
		{% endtrans %}
	</p>

	<table role="grid">
		<thead>
			<tr>
				<td>{{ _("Code") }}</td>
				<td>{{ _("Country") }}</td>
				<td>{{ _("Printer") }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>D</td>
				<td>{{ _("Finland") }}</td>
				<td>SETEC</td>
			</tr>
			<tr>
				<td>E</td>
				<td>{{ _("France") }}</td>
				<td>Oberthur</td>
			</tr>
			<tr>
				<td>F</td>
				<td>{{ _("Austria") }}</td>
				<td>Österreichische Banknoten‐ und Sicherheitsdruck GmbH</td>
			</tr>
			<tr>
				<td>G</td>
				<td>{{ _("Netherlands") }}</td>
				<td>Koninklijke Joh. Enschedé</td>
			</tr>
			<tr>
				<td>H</td>
				<td>{{ _("United Kingdom") }}</td>
				<td>Thomas de la Rue</td>
			</tr>
			<tr>
				<td>J</td>
				<td>{{ _("Italy") }}</td>
				<td>Banca d’Italia</td>
			</tr>
			<tr>
				<td>K</td>
				<td>{{ _("Ireland") }}</td>
				<td>Central Bank of Ireland</td>
			</tr>
			<tr>
				<td>L</td>
				<td>{{ _("France") }}</td>
				<td>Banque de France</td>
			</tr>
			<tr>
				<td>M</td>
				<td>{{ _("Spain") }}</td>
				<td>Fábrica Nacional de Moneda y Timbre</td>
			</tr>
			<tr>
				<td>N</td>
				<td>{{ _("Greece") }}</td>
				<td>Bank of Greece</td>
			</tr>
			<tr>
				<td>P</td>
				<td>{{ _("Germany") }}</td>
				<td>Giesecke &amp; Devrient</td>
			</tr>
			<tr>
				<td>R</td>
				<td>{{ _("Germany") }}</td>
				<td>Bundesdruckerei Berlin</td>
			</tr>
			<tr>
				<td>T</td>
				<td>{{ _("Belgium") }}</td>
				<td>National Bank of Belgium</td>
			</tr>
			<tr>
				<td>U</td>
				<td>{{ _("Portugal") }}</td>
				<td>Valora S.A.</td>
			</tr>
		</tbody>
	</table>

	<h2>{{ _("Europa Series") }}</h2>
	<p>
		{% trans %}
		In the Europa series the first letter of the serial number can be used to
		identify the printer that printed the banknote, just like the printer code.
		The following table shows which countries map to which codes.
		{% endtrans %}
	</p>

	<table role="grid">
		<thead>
			<tr>
				<td>{{ _("Code") }}</td>
				<td>{{ _("Country") }}</td>
				<td>{{ _("Printer") }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>E</td>
				<td>{{ _("France") }}</td>
				<td>Oberthur</td>
			</tr>
			<tr>
				<td>F</td>
				<td>{{ _("Bulgaria") }}</td>
				<td>Oberthur Fiduciaire AD</td>
			</tr>
			<tr>
				<td>M</td>
				<td>{{ _("Portugal") }}</td>
				<td>Valora S.A.</td>
			</tr>
			<tr>
				<td>N</td>
				<td>{{ _("Austria") }}</td>
				<td>Österreichische Banknoten‐ und Sicherheitsdruck GmbH</td>
			</tr>
			<tr>
				<td>P</td>
				<td>{{ _("Netherlands") }}</td>
				<td>Koninklijke Joh. Enschedé</td>
			</tr>
			<tr>
				<td>R</td>
				<td>{{ _("Germany") }}</td>
				<td>Bundesdruckerei Berlin</td>
			</tr>
			<tr>
				<td>S</td>
				<td>{{ _("Italy") }}</td>
				<td>Banca d’Italia</td>
			</tr>
			<tr>
				<td>T</td>
				<td>{{ _("Ireland") }}</td>
				<td>Central Bank of Ireland</td>
			</tr>
			<tr>
				<td>U</td>
				<td>{{ _("France") }}</td>
				<td>Banque de France</td>
			</tr>
			<tr>
				<td>V</td>
				<td>{{ _("Spain") }}</td>
				<td>Fábrica Nacional de Moneda y Timbre</td>
			</tr>
			<tr>
				<td>W</td>
				<td>{{ _("Germany") }}</td>
				<td>Giesecke &amp; Devrient Leipzig</td>
			</tr>
			<tr>
				<td>X</td>
				<td>{{ _("Germany") }}</td>
				<td>Giesecke &amp; Devrient Munich</td>
			</tr>
			<tr>
				<td>Y</td>
				<td>{{ _("Greece") }}</td>
				<td>Bank of Greece</td>
			</tr>
			<tr>
				<td>Z</td>
				<td>{{ _("Belgium") }}</td>
				<td>National Bank of Belgium</td>
			</tr>
		</tbody>
	</table>
</main>

{% endblock %}
